<div class="cust-dropdown-menu">
   <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
         <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Login</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
      </li>
   </ul>
   <div class="tab-content">
      <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
         <form class="register-form px-4 py-3" onsubmit="return false" novalidate>
            <div class="form-group">
               <label>Email address</label>
               <input id="remail" type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
               <label>Username</label>
               <input id="username" type="username" class="form-control" placeholder="Enter username">
            </div>
            <div class="form-group">
               <label>Password</label>
               <input id="pw1" type="password" class="form-control"  placeholder="Password">
            </div>
            <div class="form-group">
               <label>Repeat password</label>
               <input id="pw2" type="password" class="form-control"  placeholder="Password">
            </div>
            <p id="register-msg" class="auth-error"> &nbsp </p>
            <button id="rs" type="submit" class="btn btn-primary">Register</button>
         </form>
      </div>
      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
         <form class="login-form px-4 py-3" onsubmit="return false" novalidate>
            <div class="form-group">
               <label>Email address</label>
               <input id="lemail" type="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
               <label>Password</label>
               <input id="lpw" type="password" class="form-control" placeholder="Password">
            </div>
            <p id="login-msg" class="auth-error"> &nbsp </p>
            <button id="ls" type="submit" class="btn btn-primary">Login</button>
         </form>
      </div>
   </div>
</div>
