<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="navbarDropdown"> 
    <a class="dropdown-item" href="/settings">Profile settings</a>
    <a class="dropdown-item" href="/api/users/logout">Logout</a>
</div>