<div class="sidebar">
    <div class="sidebar-inner">
        <form onsubmit="return false" class="searchform">
            <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search files..." aria-label="Search" name="query">
            <label>Search in</label>
            <div class="radiobox selected" data-inputname="searchin" data-inputvalue="filenames">
                <span>Filenames</span>
            </div>
            <div class="radiobox" data-inputname="searchin" data-inputvalue="files">
                <span>Files</span>
            </div>

            <label>File types</label>
            <div class="checkbox selected" data-inputname="ftype_image" data-inputvalue="images">
                <span>Images</span>
            </div>
            <div class="checkbox selected" data-inputname="ftype_audio" data-inputvalue="audio">
                <span>Audio files</span>
            </div>
            <div class="checkbox selected" data-inputname="ftype_video" data-inputvalue="video">
                <span>Video files</span>
            </div>
            <div class="checkbox selected" data-inputname="ftype_doc" data-inputvalue="docs">
                <span>Documents</span>
            </div>

            <label>Date uploaded</label>
            <div class="radiobox selected" data-inputname="dateuploaded" data-inputvalue="7">
                <span>Last week</span>
            </div>
            <div class="radiobox" data-inputname="dateuploaded" data-inputvalue="30">
                <span>Last month</span>
            </div>
            <div class="radiobox" data-inputname="dateuploaded" data-inputvalue="180">
                <span>Last 6 months</span>
            </div>
            <div class="radiobox" data-inputname="dateuploaded" data-inputvalue="99999999999">
                <span>All</span>
            </div>

            <label>File size</label>
            <div class="radiobox selected" data-inputname="sizetype" data-inputvalue=">">
                <span>Greater than</span>
            </div>
            <div class="radiobox" data-inputname="sizetype" data-inputvalue="<">
                <span>Less than</span>
            </div>
            <input id="mbsize" class="form-control" type="text" placeholder="Size in MB" name="size">
        </form>
    </div>


</div>
