<div class="sidebar">
    <div class="sidebar-inner">
        <form onsubmit="return false" class="searchform">
            <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search files..." aria-label="Search" name="query">
            <label>Search in</label>
            <div class="radiobox selected" data-inputname="searchin" data-inputvalue="filenames">
                <span>Filenames</span>
            </div>
            <div class="radiobox" data-inputname="searchin" data-inputvalue="files">
                <span>Files</span>
            </div>

            <label>File types</label>
            <div class="checkbox selected" data-inputname="filetypes[]" data-inputvalue="images">
                <span>Images</span>
            </div>
            <div class="checkbox selected" data-inputname="filetypes[]" data-inputvalue="text">
                <span>Text files</span>
            </div>
            <div class="checkbox selected" data-inputname="filetypes[]" data-inputvalue="audio">
                <span>Audio files</span>
            </div>
        </form>
    </div>


</div>