

body {
    background:#efefef;
}



.sidebar {
    background:#333;
    width:350px;
    height:100%;
    position:fixed;
    z-index:100;
    display:none;
    padding:1px;
    padding-top:60px;
}

#search {
    border-radius:0;

}

.sidebar label {
    margin:0;
    margin-top:3px;
    color:#fff;
    color:rgba(255,255,255,0.65);
    padding:2px;
    font-size:12px;
}

.radiobox,.checkbox {
    color:#FFF;
    padding:8px;
    background:rgba(255,255,255,.1);
    cursor:pointer;
    transition:all .1s linear;
    margin:1px 0;
}

.radiobox:hover,.checkbox:hover {
    background:rgba(255,255,255,.25);
}

.radiobox span,.checkbox span {
    vertical-align:middle;
}

.radiobox span:before,.checkbox span:before {
    content: "";
    margin-right:3px;
    display:inline-block;
    width:15px;
    height:15px;
    vertical-align:middle;
    border:1px solid #555;
    background:#000;
    background:rgba(255,255,255,.2);
    border-radius:50%;
}

.radiobox.selected span:before,.checkbox.selected span:before {
    background:#000;
    background:rgba(255,255,255,.88);
}

table a {
  text-decoration: none!important;
}

.modal img {
  width: 100%;
}

.modal-body {
  overflow-y: auto;
  max-height: 500px;
}

.modal-body {
  margin: 0 auto;
  display: block;
}

.content .col-sm-8 {
    background:#FFF;
    padding:15px;
}
.delete-btn .fa-trash {
  color: red;
}

.ocr-btn.disabled .fas {
    color: #aaa;
}

.responsive-heading {
    display:none;
}

#navbarDropdown a{
    color:#000!important;

}

.usage {
    padding:15px;
    border-radius:5px;
    background:#f5f5f5;
    border:1px solid #eee;
    width:100%;
    max-width:700px;
    margin:15px auto;
    text-align:center;
}

.percentagegraph {
    display:inline-block;
    width:100px;
    height:100px;
}



@media screen and (max-width:1024px) {
    .maxheight {
        height:auto;
    }
    #uploadform table td {
        display:block;
        padding:0;
        margin:0;
        width:auto;
        padding:5px;
        text-align:center
    }
    #uploadform table td:not(:nth-child(1)) {
        width:50%;
        float:left;
    }
    #uploadform table td:nth-child(1) {
        font-size:16px;
    } 
    #uploadform table th,#uploadform table thead {
        display:none;
    }
    .responsive-heading {
        display:block;
        font-weight:700;
        background:rgba(0,0,0,.05);
    }

}