
html,body {
    height:100%;
}

.maxheight {
    height:100%;
<<<<<<< HEAD
}

<<<<<<< HEAD
.sidebar {
    background:#333;
    width:350px;
    height:100%;
    position:fixed;
    z-index:100;
    display:none;
    padding:1px;
    padding-top:60px;
}

#search {
    border-radius:0;

}

.sidebar label {
    margin:0;
    margin-top:3px;
    color:#fff;
    color:rgba(255,255,255,0.65);
    padding:2px;
    font-size:12px;
}

.radiobox,.checkbox {
    color:#FFF;
    padding:8px;
    background:rgba(255,255,255,.1);
    cursor:pointer;
    transition:all .1s linear;
    margin:1px 0;
}

.radiobox:hover,.checkbox:hover {
    background:rgba(255,255,255,.25);
}

.radiobox span,.checkbox span {
    vertical-align:middle;
}

.radiobox span:before,.checkbox span:before {
    content: "";
    margin-right:3px;
    display:inline-block;
    width:15px;
    height:15px;
    vertical-align:middle;
    border:1px solid #555;
    background:#000;
    background:rgba(255,255,255,.2);
    border-radius:50%;
}

.radiobox.selected span:before,.checkbox.selected span:before {
    background:#000;
    background:rgba(255,255,255,.88);
}

=======
table a {
  text-decoration: none!important;
}
>>>>>>> d8091196d38b12596d9ce5484665fc6c23791d49
=======
}
>>>>>>> parent of 06bcf27... search
