

.auth-error {
  color: red;
  margin: 10px;
  margin-left: 0px;
  font-family: sans-serif;
  font-weight: 600;
}

.cust-dropdown {
  position:relative;
}

.cust-dropdown-menu {
  position:absolute;
  right:0;
  padding:10px;
  border:1px solid #ddd;
  border-radius:5px;
  background:#fff;
  display:none;
}



#reglog .cust-dropdown-menu {
  width:350px;

}



.navbar a {
  color:#FFF!Important;
}

.navbar .cust-dropdown-menu a {
  color:#333!important;
}

.navbar {
  position:fixed;
  left:0;
  right:0;
  z-index:101;
}

.content {
  padding-top:54px;
}