<div class="banner" style="background-image:url(/img/banner.jpg)">
    <div class="vert-center-outer">
        <div class="vert-center-inner">
            <h1>FOUpload</h1>
            <p>A very cool file storage service with OCR support</p>
        </div>

    </div>

</div>
<div class="white-section">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="row cats">
                <div class="col-md-4 text-center">
                    <i style="display:block;font-size:120px" class="fas fa-camera"></i>
                    <h3>OCR Recognition</h3>
                    <p>
                        We use Google's OCR API so you can easily fetch text
                        from your images. Just upload the image to FOUpload 
                        and you can copy the image text immediately.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <i style="display:block;font-size:120px" class="fas fa-search"></i>
                    <h3>Advanced Search</h3>
                    <p>
                        Our search feature allows you to easily filter your 
                        files through plenty of parameters. This makes finding
                        relevant files easier than ever.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <i style="display:block;font-size:120px" class="fas fa-code"></i>
                    <h3>Built on Node.JS</h3>
                    <p>
                        Node.js® is a JavaScript runtime built on 
                        Chrome's V8 JavaScript engine. It's known for being
                        quick and snappy so there should be no delays.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="footer">
    <p>Made by Falički Objekti with <i class="fas fa-heart" style="color:#f00"></i></p>

</div>