{{>sidebar}}
<div class="content maxheight">
    <div class="maxheight">
        <div class="col-lg-8 offset-lg-2 maxheight">
            <input type="hidden" id="path" value="/">
            <form id="add-folder-form" class="form-inline">
              <div class="form-group mb-2">
                <input type="text" class="form-control" name="folder" placeholder="Folder name">
              </div>
              <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-plus"></i> Add folder</button>
            </form>
            <button class="btn btn-primary mb-2" id="compare">
                <i class="fas fa-not-equal"></i> Compare text files
            </button>

            <form id="uploadform maxheight">
              <input type="hidden" accept="image/*">
            
            
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col"><i id="folder-arrow" class="fas fa-arrow-left"></i></th>
                        <th scope="col">Filename</th>
                        <th scope="col">Uploaded on</th>
                        <th scope="col">Size</th>
                        <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody id="filelist">
                    </tbody>
                </table>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close stop-playback" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary stop-playback" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close stop-playback" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                          </div>
                          <input type="text" class="form-control" autofocus aria-label="Username" aria-describedby="basic-addon1">
                        </div>                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary stop-playback" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <p id="out" class="text-center"></p>
             </form>   
            

        </div>
    </div>
</div>
<div id="asd" style="display:none"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js">
</script>
