{{>sidebar}}
<div class="content maxheight">
    <div class="maxheight">
        <div class="col-8 offset-2 maxheight">
            <h1 class="text-center">My files</h1>
            <form id="uploadform" class="maxheight">
                
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Filename</th>
                        <th scope="col">Uploaded on</th>
                        <th scope="col" class="text-center">Options</th>
                        </tr>
                    </thead>
                    <tbody id="filelist">
                    </tbody>
                </table>
                
                <p id="out" class="text-center"></p>
                <input type="hidden" accept="image/*">
            </form>

        </div>
    </div>
</div>